body{
    margin: 0%
}

.logo{
    background-image: url(./img/pattern.png);
    width: 100%;
    height: 200px;
    background-color: #4EA0FF;
}

.booleam{
    width: 30%;
    height: 30%;
    margin-top: 9%;
    margin-left: 3%;
}

.contain{
    height: 100vh;
    margin-left: 10%;
    margin-right: 5%;   
}

h1{
    font-size: 45px;
    margin-bottom: 0%;
}

.data{
    font-size: 25px;
    color: gray;
    margin-top: 0%;
    margin-bottom: 0%;
}

.the{
    color: #4EA0FF;
    background-color: white;
}

.data2{
    font-size: 15px;
    color: gray;
    margin-top: 0%;
    margin-bottom: 0%;
}

.tim{
    width: 45%;
    height: 55%;
}

.margin1{
    margin-top: 0%;
    font-size: small;
}

ul{
    padding: 15px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th{
    color: white;
    background-color: #4EA0FF;
    width: 30%;
    text-align: left;
}

.color{
    background-color: #B1E5F2;
}

h3{
    color: gray;
}

.box1{
    background-image: url(./img/monitor.jpg);
    width: 250px;
    height: 170px;
    background-size: cover;
    margin-bottom: 10px;
}

.box2{
    background-image: url(./img/graph.jpg);
    width: 250px;
    height: 170px;
    background-size: cover;
}

h2{
    color: rgb(255, 255, 255);
    margin-left: 10px;
}