.logo{
    background-image: url(./img/pattern.png);
    width: 100%;
    height: 200px;
    background-color: aqua;
}

.booleam{
    width: 30%;
    height: 30%;
    margin-top: 9%;
    margin-left: 3%;
}

.contain{
    height: 100vh;
    margin-left: 10%;
    margin-right: 5%;   
}

h1{
    font-size: 45px;
    margin-bottom: 0%;
}

.data{
    font-size: 25px;
    color: gray;
    margin-top: 0%;
    margin-bottom: 0%;
}

.data2{
    font-size: 15px;
    color: gray;
    margin-top: 0%;
    margin-bottom: 0%;
}

.tim{
    width: 45%;
    height: 55%;
}

.margin1{
    margin-top: 0%;
    font-size: small;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th{
    color: white;
    background-color: rgb(0, 160, 188);
    width: 30%;
    text-align: left;
}

.color{
    background-color: rgb(96, 231, 255);
}